.sideCard {
  width: 200px;
  height: auto;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  align-items: flex-start;
  padding: 10px;
  top: 40px;
  right: 0px;
  border-radius: 12px;
  overflow: hidden;
  z-index: 10000;
  align-items: center;
  color: black;
}

.content {
  display: flex;
  gap: 1rem;
  margin-inline: auto;
  width: 150px;
  font-size: 14px;
  justify-content: flex-start;
  align-items: center;
  text-transform: capitalize;
  margin-inline: auto;
}
.dark {
  background-color: black;
  color: white;

}

.light {
  background-color: #ffffff;
  color: #000000;
}