

.skeleton {
  background: linear-gradient(
    100deg,
    #ebebeb 20%,
    #c2c1c1 50%,
    #eaeaea 60%
  ); /* light gray */
  border-radius: 8px;
    background-size: 200% 100%;
  animation: shimmer 1.2s infinite;
}
.container {

    width: 600px;
    height: auto;
   margin-bottom: 1rem;
   margin-top: 70px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.text_avatar {
    width: 60%;
    display: flex;
    align-items: center;
}
.text {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 30%;
    height: 50px;
    margin-top: .5rem;
    margin-left: 1rem;
}
.btn_dots {
    display: flex;
    gap: .5rem;
}

.title {
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: .5rem;
    margin-left: 1rem;
}

.image_container {
    width: 90%;
    height: 300px;
    background-color: #c2c1c1;
    display: flex;
    justify-content: center;
    margin-inline: auto;
    margin-top: 1rem;
}
.btns_divs {
    display: flex;
    margin-block: 1rem;
    justify-content: space-around;
    padding-bottom: 1rem;

}
@keyframes shimmer {
    from {
       background-position: 100% 0;
    }
  to {
    background-position: -200% 0;
  }
}

@media screen and (max-width: 568px) {
    .container {
        width: 100%;
    }
    .image_container {
        
        width: 90%;
        height: 200px;
    }
}

